@charset "UTF-8";
/* CSS Document */

@-moz-veiwport{ width: device-width; scale: 1;}
@-ms-veiwport{ width: device-width; scale: 1;}
@-o-veiwport{ width: device-width; scale: 1;}
@-webkit-veiwport{ width: device-width; scale: 1;}
@veiwport{ width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;	
}

/* CSS */

html, body{
	font-family:'Lato', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

@media only screen and (min-width: 100em){
	html{
		font-size: 1.5em;
	}
}

.masthead {
	width: 100%;
	margin-top: 0rem;
}

.banner,
.contact { 
	width:100%;
}

.logo { 
 width: 6rem; 
 display:block; 
 margin: 1rem; 
}

.top-image{
	width: 100%;
}

.image {
	width: 100%;
	display: none;
	margin-bottom:.75rem;
}
 
strong{
	font-weight: bold;
}

h2,
h3,{
	width: 90%;
	margin: 2rem 0rem;
}

.main,
.copyright{
	width: 90%;
	margin: 1rem auto 1rem;
}

.copyright{
	padding: 1rem;
	overflow:auto;
	color:#D0D0D0;
}

.nav-bottom{
	overflow: auto;
	display: inline-block;
	width: 100%;
}

h1,
h4 {
	font-size:200%;
	font-weight:bold;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;	
	margin-bottom:.75rem;
	margin-top:.75rem;
	color:#fff;
	background:#EB3439;
	padding: 1rem 1rem 12rem;
}

h2{
	font-size: 175%;
	font-weight: bold;
	text-transform:uppercase;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FFFFFF;
}

h3{
	font-size: 175%;
	font-weight:bold;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;	
	color:000;
}

p{
	line-height: 1.25;	
	margin-top:.5rem;
	color:000;
}

hr {
	background: #ddd; 
  	height: 1px;
  	margin: 2 1 2rem;
  	border: none; 
}

.box-a,
.box-d,
.box-p {
	background:#DCF3F6;
	padding: 1rem 1rem 3rem;
	margin-top: .75rem;
	margin-bottom:.75rem;
	overflow:auto;
	width: 100%;
}

.box-b,
.box-c,
.box-g,
.box-m {
	background:#EB3439;
	padding: 1rem 1rem 3rem;
	margin-top: .75rem;
	overflow:auto;
	width: 100%;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Navigation Styles */

.nav-btn, 
.nav-btn:link, 
.nav-btn:visited {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 25px;
	right: 5%;
	background: #FFFFFF url("../images/nav-icon.svg") no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover, 
.nav-btn:focus,
.nav-btn:active{
	background-color:#DCF3F6;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	background-color:#FFFFFF;
	text-align:center;
	color:#000000;
	text-decoration: none;
	padding: 1rem;
	border-top: 1px dotted #000000;
	/* border-width || border-style || border-color */	
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color:#DCF3F6;
}

/* Toggle Nav*/

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
}

.nav-btn[data-state="active"]{
	background:#FFFFFF url(../images/nav-close.svg) no-repeat center center;
}

@media only screen and (min-width: 25em){
	.nav {
		overflow:auto;
	}
	
	.nav li{
		float: left; 
		width: 33.33%;
		font-family: 'Lato', sans-serif;
	}
	
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		border-top: 0;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
}

	.nav-top{
		display: block;
	}
	
	.contact {
		width: 80%;
		margin-left: 10%;
	}
}

@media only screen and (min-width: 35em) {
	.nav-bottom{
		text-align:center;
	}
	
	.nav li{
		display: inline-block;
		float: none; 
		margin: .5rem .5rem; 
		width: 8rem;
		font-family: 'Lato', sans-serif;
		font-weight:900;
		text-transform:uppercase;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		border-top: 0;
	/* border-width || border-style || border-color */
}

	.nav-top{
		float: right;
		margin-right: 1%;
}
	
	header{
		overflow:auto;
	}
	
	.logo{
		width: 8rem;
		margin-bottom: -1rem;
	}
	
	.contact {
		width: 50%;
		margin-left: 25%;
	}
}

@media only screen and (min-width: 70em){
	.logo{
		width: 12rem;
		margin: 1rem auto;
	}
	
	.masthead{
		float: left; 
		width: 20%;
	}
	
	.banner{
		float: right;
		width: 80%;
	}
	
	.main{
		float: right;
		width: 80%;
		margin-left: 1rem;	
	}
	
	footer {
		clear: both;
		background-color:#FFFFFF;
	}
	
	.nav-top{
		margin-top: 4rem;
		float: none;
		clear: both;
		max-height: 15rem;
	}
	
	.nav-top li{
		display: block; 
		font-family: 'Lato', sans-serif;
		font-weight:900;
		text-transform: uppercase;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited, 
	.nav{
		text-align:left;
	}

	.copyright{
		width: auto;
		margin: 1rem;
	}
	
	.nav-bottom {
		text-align: center;
	}
}

/* Homepage */


.hours-list li,
.schedule-list li{
	margin: .5rem 0;
	line-height: 1.3;
	color: #FFF;
}

.hours-list dt,
.schedule-list dt{
	color: #FFF;
	font-weight: bold;
	font-size:20px;
}

.hours-list dd:last-child{
	color:#FFFFFF;
	font-style: italic;
	font-size: 0.875rem;
}

.schedule-list dd:nth-child(odd){
	color: #FFF;
	font-style: italic;
	font-size: 0.875rem;
}

.hours-table{
	margin-top: 1rem;
}

.hours-table thead{
	font-family: 'Lato', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:15px;
}

.hours-table th,
.hours-table td{
	color:#FFFFFF;
	padding: 1rem 1rem;
	text-align: left;
}

.hours-table tr{
	border-bottom: 1px solid #fff;
}

.hours-table tr:last-child{
	border-bottom: 3px solid #fff;
}

.hours-table{
	width: 100%;
	display: none;
}

.contact li{
	margin: .5rem 0;
	line-height: 1.3;
}

.contact dt{
	font-weight: bold;
}

.contact dd:last-child{
	color: #666;
	font-style: italic;
	font-size: 0.875rem;
}


@media only screen and (min-width: 38em) {
		.hours-table {
			display: table; 
		}
		
		.hours-list {
			display: none;
		}
		
		.top-image {
			float: right;
			width: 49%;
			margin-bottom: .75rem;
		}
		
		h1 {
			float: left; 
			width: 49%;
			overflow: auto;
			margin-top:0rem;
			padding-bottom: 6.3rem;
		}
		
		.box-a { 
			overflow:auto;
			width: 100%;
		}
}

@media only screen and (min-width: 51em) {
	.box-a {
		float: left;
		width: 49%;
		overflow: auto;
		margin-top: 0rem;
		margin-bottom: .75rem;
	}
	
	.image {
		display: table;
		width: 49%;
		float: right;
		margin-bottom: .75rem;
	}
}

/*Schedule*/

.box-l,
.box-r{
	background:#E23739;
	width: 48%;
	padding: 1rem;
	margin-bottom: .75rem;
	margin-top: .75rem;
	display:none;
}

.box-l {
	float: left;
	padding-bottom: 4.4rem;
	margin-right: .75rem;
}

.box-r {
	float: right;
}

.today-table {
	margin-bottom: 2rem;
	display:none;
	color: #fff;
}

.today-table thead{
	background-color:#EB3439;
	color: #fff;
	border-bottom: 1px dotted white;
}

.today-table th{
	padding: .75rem 1rem;
	text-align: center;
	font-weight: bold;	
}

.today-table td{
	background:#EB3439;
	padding: .75rem 1rem;
	text-align: left;
	border: 1px dotted white;
}

.today-table tr:nth-child(even){
	background-color:#EB3439;
}

.today-table tr:last-child{
	border-bottom: 3px solid #fff;
}

.today-table{
	width: 100%;
}

@media only screen and (min-width: 22em) {
	.box-c {
		display:none;
	}
	
	.box-l,
	.box-r {
		display: table;
	}
			
}

@media only screen and (min-width: 55em) {
		.today-table {
			display: table; 
			margin-top: .75rem;
		}
		
		.box-l,
		.box-r {
		display: none;
		}	
		
		.box-d {
			float:left;
			width: 49%;
			overflow:auto;
			margin-bottom: .75rem;
			margin-top:0rem;
		}
}

/*Prices*/

.members-list li,
.general-list li{
	margin: .5rem 0;
	line-height: 1.3;
	color:#FFF;
}

.members-list dt,
.general-list dt{
	font-weight: bold;
	color:#FFF;
}

.members-list dd:last-child,
.general-list dd:last-child{
	color: #FFF;
	font-style: italic;
	font-size: 0.875rem;
}

.members-table,
.general-table{
	margin-bottom: 2rem;
}

.members-table thead,
.general-table thead{
	background-color:#EB181B;
	color: #fff;
}

.members-table th,
.members-table td,
.general-table th,
.general-table td{
	padding: .75rem 1rem;
	text-align: left;
}

.members-table tr:nth-child(even),
.general-table tr:nth-child(even){
	background-color:#D0EFF6;
}

.members-table tr:last-child,
.general-table tr:last-child{
	border-bottom: 3px solid #E8E8E8;
}

.members-table,
.general-table{
	width: 100%;
	display: none;
}


@media only screen and (min-width: 38em) {
	.box-m {
		float:right;
		width: 49%;
		overflow:auto;
		margin-bottom: .75rem;
		margin-top:0rem;
	}
	
	.box-g {
		float:left;
		width: 49%;
		overflow:auto;
		margin-bottom: .75rem;
		margin-top:0rem;
	}		
}

@media only screen and (min-width: 56em) {
	.box-m {
		float:left;
		width: 49%;
		overflow:auto;
		margin-bottom: .75rem;
		margin-top:0rem;
	}
	
	.box-g {
		float:right;
		width: 49%;
		overflow:auto;
		margin-bottom: .75rem;
		margin-top:0rem;
	}		
}

/* Contact*/

.social:link,
.social:visited{
	text-decoration:none;
	color:#FFFFFF;
}

@media only screen and (min-width: 30em){
	.box-p {
		float: left; 
		width: 49%;
	}
	
	h4 {
		float: right;
		width: 49%;
		margin-bottom: 0rem;
	}
}